.inputValue {
    height: 50px;
    width: 200px;
    outline: none;
}

input[type='text'] {
    font-size: 20px;
    border-radius: 5px;
}

.title {
    font-size: 50px;
    padding-top: 100px;
}

.searchButton {
    height: 40px;
    width: 100px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
}